<head>
	<script type="text/javascript" src="/static/main/js/jquery.1.8.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/main/css/base.css">
	{% block extrascript %}{% endblock %}
</head>

<body>
	<div>header</div>
	<hr>
	{% block content %}{% endblock %}
	<hr>
	<div>footer</div>
</body>
